@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  min-height: 187px;
  margin-top: 40px;
  padding: 0 60px;

  background-color: #f7e296;
}

.header-logo {
  width: 164px;
  height: 36px;
  margin-top: -18px;
  margin-bottom: 7px;

  cursor: pointer;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.site-search {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 440px;
  margin-right: auto;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.site-search::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 3px;

  width: 20px;
  height: 20px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

input[type="search"] {
  position: relative;

  width: 300px;
  min-height: 49px;
  margin-right: auto;
  padding-left: 38px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

input[type="search"]:hover {
  color: #000000;

  opacity: 0.6;
}

input[type="search"]:focus {
  color: #000000;

  opacity: 1;
}

.site-search-button {
  display: none;
  width: 80px;
  min-height: 49px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.site-search-button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;

  display: block;
  width: 439px;
  height: 3px;

  background-color: #000000;
  opacity: 1;
}

input[type="search"]:focus ~ .site-search-button {
  display: block;
}


.site-search-button:focus {
  position: relative;

  width: 80px;
  height: 49px;
  margin: 0;
  padding: 0;
  overflow: visible;

  color: #ffffff;

  background-color: #000000;
  border: 2px solid #000000;
}

.site-search-button:hover {
  color: #ffffff;

  background-color: #000000;
  cursor: pointer;
}

.site-search-button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
}

.site-search-button:active::after {
  bottom: -2px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  max-width: 520px;
  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;
}

.user-menu li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu a {
  position: relative;

  display: block;

  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.user-menu a:hover {
  cursor: pointer;
  opacity: 0.6;
}

.user-menu a:active {
  cursor: pointer;
  opacity: 0.3;
}

.user-menu .login-link {
  position: relative;

  margin-right: 195px;
  padding: 8px 0 9px 42px;
}

.user-menu .login-link:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;

  width: 14px;
  height: 14px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu .user-login {
  position: relative;

  margin-right: 10px;
  padding: 8px 0 10px 46px;
}

.user-menu .user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;

  width: 14px;
  height: 14px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu .login-out {
  position: relative;

  margin-right: 31px;
  padding: 8px 10px 10px 10px;

  opacity: 0.3;
}

.user-menu .compare {
  position: relative;

  margin-right: 20px;
  padding: 8px 0 10px 42px;
}

.user-menu .compare:before {
  content: "";
  position: absolute;
  top: 19px;
  left: 23px;

  width: 14px;
  height: 14px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu .basket {
  position: relative;

  margin-right: 0;
  padding: 8px 0 10px 44px;
}

.user-menu .basket:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;

  width: 14px;
  height: 14px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.site-navigation a {
  padding: 4px 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-guarantee {
  margin-left: 34px;
}

.site-navigation-contacts {
  margin-right: -3px;
  margin-left: 108px;
}

.site-navigation-categories {
  position: relative;

  margin-right: auto;
  margin-left: -1px;
  padding-right: 55px;

  cursor: pointer;
}

.site-navigation-categories::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 25px;

  width: 17px;
  height: 17px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.site-navigation-items-container ul,
.site-navigation-items-container li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation-items {
  position: absolute;
  left: -60px;
  z-index: 10;

  display: none;
  width: 1100px;
  min-height: 157px;
  padding-left: 60px;

  background: #f7e296;
}

.site-navigation > li:hover .site-navigation-items {
  display: block;
}

.site-navigation-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 1080px;
  margin-top: 16px;

  -ms-flex-wrap: wrap;
}

.site-navigation-items-container a,
.site-navigation-items-container a,
.site-navigation-items-container a {
  padding: 8px 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  text-transform: none;
  letter-spacing: 0.01em;

  cursor: pointer;
}

.site-navigation-items .site-navigation-items-view {
  margin-right: 60px;
}

.site-navigation-items .site-navigation-items-fitness {
  margin-right: 75px;
}

.site-navigation-items-view a:hover,
.site-navigation-items-fitness a:hover,
.site-navigation-items-quadrocopter a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-items-view a:active,
.site-navigation-items-fitness a:active,
.site-navigation-items-quadrocopter a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular {
  position: relative;
}

.popular:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 1160px;
  height: 110px;

  background-color: #f7e296;
}

.slider {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.slider-monopod {
  margin-bottom: 106px;
}

.slider-quadrocopter {
  margin-bottom: 110px;
}

.slider-fitness-watch {
  margin-bottom: 96px;
}

.slider .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.slider .description {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-start;
  width: 561px;
  padding-left: 40px;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: start;
}

.slider-monopod img {
  margin-left: -57px;
}

.slider-fitness-watch img {
  margin-top: 12px;
  margin-left: -45px;
}

.slider-quadrocopter img {
  margin-top: -19px;
  margin-left: -31px;
}

.description:before {
  content: "";
  position: absolute;
  top: 36px;
  left: 40px;
  z-index: -5;

  width: 100px;
  height: 8px;

  background-color: #ffffff;
}

.description .item-1:before {
  content: "01";
  position: absolute;
  top: -14px;
  left: 369px;
  z-index: -1;

  width: 167px;
  height: 129px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.description .item-2:before {
  content: "02";
  position: absolute;
  top: -14px;
  left: 344px;
  z-index: -1;

  width: 167px;
  height: 129px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.description .item-3:before {
  content: "03";
  position: absolute;
  top: -14px;
  left: 343px;
  z-index: -1;

  width: 167px;
  height: 129px;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.description b {
  margin-top: 79px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  letter-spacing: 0.01em;
}


.description p {
  position: relative;

  margin-top: 20px;

  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.description table {
  margin-top: 47px;
  margin-left: -4px;
}

.description td {
  width: 140px;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.description td:first-child {
  width: 156px;
}

.description td:nth-child(2) {
  width: 135px;
}

.description th {
  padding: 2px 0;
  padding-left: 2px;

  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  text-align: left;
  letter-spacing: 0.01em;
}

.description .btn-more {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  margin-top: 29px;
  padding: 8px 45px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.description .btn-more::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 220px;
  height: 8px;

  background-color: #f0c52e;
}

.description .btn-more:hover::after {
  top: 0;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.description .btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.monopod,
.fitness-watch,
.quadrocopter {
  position: relative;
}

.monopod::before {
  content: "";
  position: absolute;
  top: 328px;
  left: 999px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fitness-watch::before {
  content: "";
  position: absolute;
  top: 328px;
  left: 1032px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.quadrocopter::before {
  content: "";
  position: absolute;
  top: 328px;
  left: 1065px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.monopod::after {
  content: "";
  position: absolute;
  top: 328px;
  left: 999px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0;
}

.fitness-watch::after {
  content: "";
  position: absolute;
  top: 328px;
  left: 1032px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0;
}

.quadrocopter::after {
  content: "";
  position: absolute;
  top: 328px;
  left: 1065px;
  z-index: 1;

  width: 13px;
  height: 13px;

  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0;
}

.popular-items-monopod:checked ~ .monopod::after,
.popular-items-fitness-watch:checked ~ .fitness-watch::after,
.popular-items-quadrocopter:checked ~ .quadrocopter::after {
  opacity: 1;
}

.slider-monopod,
.slider-fitness-watch,
.slider-quadrocopter {
  display: none;
}

#popular-1:checked ~ .slider-monopod,
#popular-2:checked ~ .slider-fitness-watch,
#popular-3:checked ~ .slider-quadrocopter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-goods {
  width: 1160px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 181px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.categories .categories-items {
  position: relative;

  display: block;
  width: 160px;
  padding-top: 194px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.item-2-wrapper {
  display: block;
  margin-right: 60px;
}


.categories .categories-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 160px;
  height: 160px;
}

.categories .item-1::before {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.categories .item-2::before {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 96%;
}

.categories .item-3::before {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 55% 52%;
}

.categories .item-4::before {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 52% 53%;
}

.categories .item-5::before {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 53% 51%;
}

.categories .item-6::before {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 48% 54%;
}

.categories-items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.categories-items:hover::after,
.categories-items:focus::after {
  background-color: #f0c52e;
}

.categories-items:active::before {
  opacity: 0.3;
}

.categories-items:active {
  color: rgba(0, 0, 0, 0.3);
}


.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
  padding-bottom: 115px;

  background-color: #e5e5e5;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  margin-top: -100px;

  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

.service-controls {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  padding: 0;

  list-style: none;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
}

.service-controls:after {
  content: "";
  position: absolute;
  top: 0;
  left: 277px;
  z-index: 0;

  width: 8px;
  height: 320px;

  background-color: #000000;
}

.service-controls-items {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 159px;
  margin: 0 127px 25px auto;
  padding: 0 0 7px 7px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.service-controls .item-1 {
  margin-top: 88px;
}

.service-controls .item-2 {
  margin-top: 8px;
}

.service-controls .item-3 {
  margin-top: 9px;
}

.service-controls-items::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;

  background-color: #f0c52e;
}

.service-controls-delivery:hover ~ .service-controls .service-controls-items:nth-child(1)::after,
.service-controls-delivery:focus ~ .service-controls .service-controls-items:nth-child(1)::after,
.service-controls-guarantee:hover ~ .service-controls .service-controls-items:nth-child(2)::after,
.service-controls-guarantee:focus ~ .service-controls .service-controls-items:nth-child(2)::after,
.service-controls-credit:hover ~ .service-controls .service-controls-items:nth-child(3)::after,
.service-controls-credit:focus ~ .service-controls .service-controls-items:nth-child(3)::after {
  top: -8px;
  left: 0;
  z-index: -1;

  height: 40px;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.service-controls-delivery:checked ~ .service-controls .service-controls-items:nth-child(1)::after,
.service-controls-guarantee:checked ~ .service-controls .service-controls-items:nth-child(2)::after,
.service-controls-credit:checked ~ .service-controls .service-controls-items:nth-child(3)::after {
  top: -8px;
  left: 0;
  z-index: -1;

  height: 40px;
  padding-right: 120px;

  background-color: #000000;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.service-controls-delivery:checked ~ .service-controls .service-controls-items:nth-child(1),
.service-controls-guarantee:checked ~ .service-controls .service-controls-items:nth-child(2),
.service-controls-credit:checked ~ .service-controls .service-controls-items:nth-child(3) {
  color: #f7e184;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.service-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 775px;
  margin-right: 235px;
  padding-top: 34px;
  padding-left: 120px;
}

.service-content h2,
.index-columns h2,
.monopods {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.02em;
}

.service-content p {
  margin-top: -8px;
  padding-bottom: 10px;

  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  letter-spacing: 0.01em;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 85px;
  left: 678px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.guarantee:after {
  content: "";
  position: absolute;
  top: 61px;
  left: 663px;

  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
}

.credit:after {
  content: "";
  position: absolute;
  top: 61px;
  left: 654px;

  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
}

.delivery,
.guarantee,
.credit {
  position: relative;

  display: none;
}

#service-1:checked ~ .delivery,
#service-2:checked ~ .guarantee,
#service-3:checked ~ .credit {
  display: block;
}

.logotypes {
  margin-bottom: 96px;
}

.logotypes-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.logotypes ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.logotypes li {
  cursor: pointer;
}

.logotypes-items .item-1 {
  margin-right: auto;
}

.logotypes-items .item-2 {
  margin-right: 38px;
}

.logotypes-items .item-3 {
  margin-right: 38px;
}

.logotypes-items .item-4 {
  margin-right: 3px;
}

.logotypes img {
  opacity: 0.2;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.logotypes img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.info {
  position: relative;

  width: 475px;
}

.contacts {
  position: relative;

  width: 560px;
}

.info:before,
.contacts:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.index-columns h2 {
  margin-bottom: 43px;
}

.index-columns p {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.index-columns li {
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;

  cursor: pointer;
}

.info .item-1 {
  display: block;
  margin-bottom: 30px;
}

.info .item-2 {
  display: block;
  margin-bottom: 66px;
}

.transport-companies,
.transport-companies li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-companies li {
  position: relative;

  padding-left: 35px;
}

.transport-companies li:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 2px;

  width: 5px;
  height: 5px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.info .transport-companies {
  margin-bottom: 54px;
}

.index-columns .btn-more {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 8px 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;

  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.index-columns .btn-more::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 260px;
  height: 8px;

  background-color: #f0c52e;
}

.index-columns .btn-more:hover::after {
  top: 0;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.index-columns .btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.contacts .item-1 {
  margin-bottom: 40px;
}

.contacts .contacts-button-map {
  display: block;
  margin-bottom: 58px;

  cursor: pointer;
}

.page-footer {
  position: relative;

  width: 100%;

  background-color: #464646;
}

.page-footer:before {
  content: "";
  position: absolute;
  top: -4px;

  width: 100%;
  height: 4px;

  background-color: #ffffff;
}

.page-footer p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #ffffff;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-logo {
  margin-top: 65px;
}

.footer-top > a {
  position: relative;
}

.footer-top > a::after {
  content: "";
  position: absolute;
  top: 239px;
  left: 0;
  z-index: 1;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-menu {
  width: 335px;
  margin-top: 58px;
}

.footer-user-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-user-menu ul,
.footer-user-menu-categories li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-user-menu a {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.footer-user-menu-categories a {
  position: relative;

  display: block;
  padding: 5px 0;
  padding-left: 35px;
}

.footer-user-menu li {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.footer-user-menu-categories li:hover,
.footer-user-menu-categories li:focus {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.footer-user-menu-categories li:active {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.footer-user-menu-categories .login-link {
  margin-right: 30px;
}

.footer-user-menu-categories .login-link:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;

  width: 14px;
  height: 14px;

  background-image: url("../img/user_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-menu-categories .compare:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 14px;

  width: 14px;
  height: 14px;

  background-image: url("../img/compare_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-menu-categories .basket:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;

  width: 14px;
  height: 14px;

  background-image: url("../img/cart_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-menu-categories li:last-child {
  margin-left: auto;
}

.footer-user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer a,
.copyrighted {
  color: #ffffff;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-middle p {
  display: block;
  margin-top: 19px;
}

.footer-service {
  width: 426px;
  margin-top: 23px;
  padding-right: 40px;
}

.footer-service a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.footer-service a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-service a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-service ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-service-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 49px;
  padding-bottom: 63px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.footer-social {
  margin-left: 510px;
}

.footer-social-container {
  width: 160px;
  height: 35px;
}

.footer-social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button,
.copyrighted {
  position: relative;

  cursor: pointer;
}

.footer-social-container .fasebook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.footer-social-container .fasebook:hover::before,
.footer-social-container .fasebook:focus::before {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.footer-social-container .fasebook:active::before {
  -webkit-filter: opacity(0.1);
          filter: opacity(0.1);
}

.footer-social-container .instagram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 54px;

  width: 32px;
  height: 32px;

  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.footer-social-container .instagram:hover::before,
.footer-social-container .instagram:focus::before {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.footer-social-container .instagram:active::before {
  -webkit-filter: opacity(0.1);
          filter: opacity(0.1);
}

.footer-social-container .twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 108px;

  width: 32px;
  height: 32px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.footer-social-container .twitter:hover::before,
.footer-social-container .twitter:focus::before {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.footer-social-container .twitter:active::before {
  -webkit-filter: opacity(0.1);
          filter: opacity(0.1);
}

.copyrighted .logo-html-academy::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -27px;

  width: 35px;
  height: 34px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.copyrighted .logo-html-academy:hover::before,
.copyrighted .logo-html-academy:focus::before {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.copyrighted .logo-html-academy:active::before {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.modal-feedback {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 10;

  display: none;
  justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -480px;
  padding: 77px 100px 78px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-feedback-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;

  -ms-flex-wrap: wrap;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-user-name,
.feedback-email,
.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.feedback-user-name {
  margin-right: 40px;
  padding: 8px 0;
}

.feedback-email {
  padding: 8px 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  margin-bottom: 25px;
  padding: 14px 0;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
  border: 0;
  opacity: 0.5;
}

.feedback-form input[type="text"] {
  margin-right: 40px;
}

.feedback-field,
textarea {
  width: 760px;
}

.feedback-field {
  padding: 11px 0;
  padding-left: 1px;
}

textarea {
  height: 130px;
  padding: 10px 0;
  padding-left: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
  opacity: 0.5;

  resize: none;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  background-color: #e5e5e5;
  opacity: 0.8;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
          box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
  /*  border: 3px solid rgba(240, 197, 46, 0.5);*/
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid,
.feedback-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.modal-feedback-submit {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 41px;
  padding: 8px 43px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.modal-feedback-submit::before {
  content: "Отправить";
  position: absolute;
  top: 8px;
  left: 33px;
  z-index: 15;

  color: #000000;
}

.modal-feedback-submit::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.modal-feedback-submit:hover::after {
  top: 0;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.modal-feedback-submit:active::before {
  color: rgba(0, 0, 0, 0.3);
}

button.modal-feedback-close {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 12;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}


button.modal-feedback-close:hover,
button.modal-feedback-close:focus {
  opacity: 1;
}

button.modal-feedback-close:active {
  opacity: 0.3;
}

button.modal-feedback-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form label {
  display: block;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-map {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 20;

  display: none;
  width: 960px;
  height: 559px;
  margin-left: -480px;

  background-image: url("../img/map-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map-image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  margin: 0;
  padding: 0;
}

.modal-map .iframe {
  position: relative;
  z-index: 20;

  border: none;
}

.modal-map-show {
  display: block;

  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}


button.modal-map-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 25;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}


button.modal-map-close:hover,
button.modal-map-close:focus {
  opacity: 1;
}

button.modal-map-close:active {
  opacity: 0.3;
}

button.modal-map-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}


button.modal-map-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.site-map {
  margin-bottom: 42px;
  padding: 0 60px;
}

.site-map h2 {
  margin: 0;
  margin-top: 36px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-top: 22px;
  padding: 0;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  padding: 6px 0;
  padding-right: 37px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;

  cursor: pointer;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li:nth-child(1):after {
  content: "";
  position: absolute;
  top: 11px;
  right: 18px;

  width: 5px;
  height: 8px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 11px;
  right: 15px;

  width: 5px;
  height: 8px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: -webkit-linear-gradient(top, #dadada 70px, #ececec 70px);
  background:      -o-linear-gradient(top, #dadada 70px, #ececec 70px);
  background:         linear-gradient(to bottom, #dadada 70px, #ececec 70px);
}

.filter h3,
.sorting h3 {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter h3 {
  margin: 23px 0;
  padding-left: 7px;

  border-bottom: 1px solid transparent;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}


.filter .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 272px;
  margin-left: auto;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filter fieldset {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filter .prices {
  margin-top: 80px;
  margin-bottom: 30px;
}

.filter .colors {
  margin-top: 60px;
  margin-bottom: 26px;
}

.filter .bluetoothes {
  position: relative;

  margin-top: 42px;
}

.filter legend {
  position: relative;

  padding-left: 5px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter .price-state {
  margin-bottom: 26px;
}

.filter .color-state {
  margin-bottom: 19px;
}

.bluetooth-state-item:nth-of-type(1) {
  margin-top: 18px;
}

.bluetooth-state-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.bluetooth-state-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 5px;

  width: 202px;
  height: 2px;

  background-color: #000000;
}

fieldset p {
  margin: 0;
  padding: 0;
}

.filter span {
  position: relative;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.filter input[type="range"] {
  position: relative;
}

.filter .price-state::after {
  content: "";
  position: absolute;
  top: 59px;
  left: 8px;
  z-index: 1;

  width: 195px;
  height: 2px;

  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #91c92f), color-stop(60%, #dbdbdb));
  background-image: -webkit-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
  background-image:      -o-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
  background-image:         linear-gradient(to right, #91c92f 60%, #dbdbdb 60%);
}

.price-1 {
  position: absolute;
  top: 17px;
  left: 4px;

  width: 35px;
  height: 25px;
}

.price-2 {
  position: absolute;
  top: 17px;
  left: 69px;

  width: 35px;
  height: 25px;
}

.filter .price-1::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -4px;
  z-index: 2;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.filter .price-1:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -4px;
  z-index: 2;

  width: 22px;
  height: 25px;

  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
}

.filter .price-2::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.filter .price-2:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;

  width: 22px;
  height: 25px;

  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
}

.filter .btn-more {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  margin-top: 31px;
  margin-left: 5px;
  padding: 8px 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.filter .btn-more::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.filter .btn-more:hover::after {
  top: 0;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.filter .btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter label {
  position: relative;

  display: block;
  width: 200px;
  padding-left: 44px;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: default;
  opacity: 0.25;
}

.filter-input-checkbox:disabled:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: default;
  opacity: 0.25;
}

.sorting {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-bottom: 70px;
  padding: 5px 0;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.sorting h3 {
  margin: 18px 54px 18px 76px;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin: 0;
  padding: 0;
}

.sorting li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting a {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-items-price {
  width: 83px;
}

.sorting-items-type {
  width: 83px;
}

.sorting-items-popular {
  width: 140px;
}

.sorting-direction {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-direction li {
  position: relative;

  margin: 0;
  padding: 0;
}

.sorting-direction-items {
  position: relative;
}

.sorting-direction-items.up::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -229px;

  width: 11px;
  height: 11px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-direction-items.down::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -259px;

  width: 11px;
  height: 11px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-items.down:hover::before,
.sorting-direction-items.down:focus::before,
.sorting-direction-items.up:hover::before,
.sorting-direction-items.up:focus::before {
  opacity: 0.4;
}

.sorting-direction-items.down:active::before,
.sorting-direction-items.up:active::before {
  opacity: 1;
}

.catalog-page {
  flex-grow: 1;
  width: 780px;
  margin-right: auto;

  background-color: #ffffff;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 855px;
  margin-bottom: 37px;
  padding-left: 75px;

  -ms-flex-wrap: wrap;
}

.catalog-goods {
  position: relative;

  width: 360px;
  margin-right: auto;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-goods:nth-of-type(1),
.catalog-goods:nth-of-type(2) {
  margin-bottom: 47px;
}

.catalog-goods:nth-of-type(2n) {
  margin-right: 20px;
}

.catalog-goods a {
  color: inherit;
  text-decoration: none;
}

.catalog-goods p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.catalog-item {
  width: 260px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
}

.catalog-goods:nth-of-type(2) .catalog-item {
  width: 200px;
}

.catalog-goods:last-of-type::before {
  content: "NEW";
  position: absolute;
  top: 47px;
  right: 13px;

  width: 60px;
  height: 60px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-goods:last-of-type::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 28px;

  width: 57px;
  height: 57px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-goods b {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-goods .to-basket {
  content: "";
  position: absolute;
  top: 173px;
  left: 80px;
  z-index: 1;

  display: inline-block;
  width: 180px;
  padding: 8px 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  vertical-align: baseline;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
  opacity: 0;
}

.catalog-goods .to-basket:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  height: 8px;
  margin: auto;

  background-color: #f0c52e;
}

.to-basket:focus,
.to-basket:hover {
  background-color: #f0c52e;
}

.to-compared {
  content: "";
  position: absolute;
  top: 220px;
  left: 110px;

  font-weight: normal;
  font-size: 13px;
  line-height: 36px;
  font-family: Arial, sans-serif;

  opacity: 0;
}

.catalog-goods:hover img {
  cursor: pointer;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.catalog-goods:hover .to-basket,
.catalog-goods:focus .to-basket {
  opacity: 1;
}

.catalog-goods:hover .to-compared,
.catalog-goods:focus .to-compared {
  opacity: 0.5;
}

.catalog-goods .to-compared:hover {
  color: rgba(0, 0, 0, 1);

  opacity: 1;
}

.catalog-goods .to-basket:active,
.catalog-goods .to-compared:active {
  color: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-bottom: 77px;
  margin-left: 75px;
  padding: 0;

  background-color: #ebebeb;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.pagination-list li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.pagination-list a {
  display: block;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.pagination-item-back {
  padding: 22px 27px 22px 28px;
}

.pagination-item {
  padding: 22px 13px 22px 13px;
}

.pagination-item:nth-of-type(1) {
  margin-right: 4px;
  padding: 22px 9px 22px 18px;
}

.pagination-item:nth-of-type(2) {
  margin-right: 2px;
}

.pagination-item-next {
  padding: 22px 29px 22px 31px;
}

.pagination-item-back:hover,
.pagination-item-next:hover {
  background-color: #d9d9d9;
}

.pagination-item-back:active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-item-back,
.pagination-item-next {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-disabled {
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.inner-footer-user-menu {
  width: 500px;
  margin-top: 58px;
}

.inner-footer-user-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inner-footer-user-menu ul,
.inner-footer-user-menu-categories li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-footer-user-menu a {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.inner-footer-user-menu-categories a {
  position: relative;

  display: block;
  padding: 5px 0;
  padding-left: 35px;
}

.inner-footer-user-menu li {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.inner-footer-user-menu-categories li:hover,
.inner-footer-user-menu-categories li:focus {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.inner-footer-user-menu-categories li:active {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.inner-footer-user-menu-categories .user-login {
  margin-right: 3px;
  padding-left: 49px;
}

.inner-footer-user-menu-categories .user-login:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 22px;

  width: 14px;
  height: 14px;

  background-image: url("../img/user_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-footer-user-menu-categories .login-out {
  margin-right: 14px;
  padding: 5px 15px 5px 15px;

  color: rgba(255, 255, 255, 0.3);
  
}

.inner-footer-user-menu-categories .compare:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 14px;

  width: 14px;
  height: 14px;

  background-image: url("../img/compare_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-footer-user-menu-categories .basket:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;

  width: 14px;
  height: 14px;

  background-image: url("../img/cart_color.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inner-footer-user-menu-categories li:last-child {
  margin-left: auto;
}

.inner-catalog-footer-user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.inner-footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}
