/* ОТОБРАЖЕНИЕ БЛОКОВ */

* {
  outline: 1px dotted red;
}

* * {
  outline: 1px dotted green;
}

* * * {
  outline: 1px dotted orange;
}

* * * * {
  outline: 1px dotted blue;
}

* * * * * {
  outline: 1px dotted red;
}

* * * * * * {
  outline: 1px dotted green;
}

* * * * * * * {
  outline: 1px dotted orange;
}

* * * * * * * * {
  outline: 1px dotted blue;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*Глобальная настройка изображений*/

img {
  max-width: 100%;
  height: auto;
}

/*Скрываем то, что не отражается в макете*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Задает размеры и положение центровщика*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

}

/*Задает размеры и положение шапки сайта*/

.page-header {
  min-height: 188px;
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
}

/*Задает размеры и положение логотипа*/

.header-logo {
  margin-top: -18px;
  width: 164px;
  height: 36px;
  margin-bottom: 12px;
}

/*Задает прозрачность логотипу при наведении*/

.header-logo:hover {
  opacity: 0.6;
}

/*Задает прозрачность логотипу при нажатии*/

.header-logo:active {
  opacity: 0.3;
}

/*Содержит кнопку поиска и меню пользователя*/

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

}

/*Задает стили полю ввода в спокойном состоянии*/

input[type="search"] {
  width: 355px;
  margin-right: 95px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.3;
  background-color: #f7e296;
  border: none;

}

/*Задает стили полю ввода при наведении*/

input[type="search"]:hover {
  color: #000000;
  opacity: 0.6;
  background-color: #f7e296;
  border: none;
}

/*Задает стили полю ввода при нажатии*/

input[type="search"]:focus {
  color: #000000;
  background-color: #f7e296;
  border: none;
  border-bottom: 2px solid #000000;

}

/*Задает стили кнопке поиска в спокойном состоянии. Нужно скрыть*/

.search-button {
  width: 85px;

  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #f7e296;
  border: 2px solid transparent;
}

/*Задает стили кнопке поиска при наведении*/

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

/*Задает стили кнопке поиска при нажатии*/

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

/*Убирает отступы у списка меню пользователя, делает блок - флексом*/

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

/*Убирает отступы у элементов меню пользователя, задает им размеры*/

.user-menu li {
  margin: 0;
  padding: 0;
  width: 100px;
  list-style: none;

}

/*Задает стили ссылкам в меню пользователя*/

.user-menu a {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
}

/*Задает прозрачность ссылкам при наведении в меню пользователя*/

.user-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

/*Задает прозрачность ссылкам при нажатии в меню пользователя*/

.user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Обнуляет отступы и стили в навигации по сайту*/

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Делает навигацию флексом*/

.site-navigation {
  display: flex;
  justify-content: space-between;
}

/*Оформляет ссылки в навигации*/

.site-navigation a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
}

/*Добавляет прозрачность ссылкам в навигации при наведении*/

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

/*Добавляет прозрачность ссылкам в навигации при нажатии*/

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Родитель выпадающего списка*/

.site-navigation-categories {
  position: relative;
}

/*Выпадающий список товаров*/

.site-navigation-items {
  display: none;
  position: absolute;
  left: 0px;
  width: 1160px;
  min-height: 160px;
  background: #f7e296;
}

/*Отражает выпадающий список товаров при наведении на родителя*/

.site-navigation-catalog:hover .site-navigation-items {
  display: flex;
}

/*Оформляет ссылки в выпадающем списке*/

.view a,
.fitness a,
.quadrocopter a {
  text-transform: none;
  font-weight: 300;
  font-size: 15px;
}

/*Оформляет ссылки в выпадающем списке при наведении*/

.view a:hover,
.fitness a:hover,
.quadrocopter a:hover {
  color: rgba(0, 0, 0, 0.6);
}

/*Оформляет ссылки в выпадающем списке при нажатии*/

.view a:active,
.fitness a:active,
.quadrocopter a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular {}

.popular-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
  padding: 0 20px;
}

.photo {}

.description {
  margin-top: 80px;
}


.description p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.description b {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
}

.btn-more {
  color: #000000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

.btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.description td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.description th {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.categories-goods {
  width: 1160px;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;

}

.categories li {
  position: relative;
  width: 160px;
  height: 45px;
  padding-top: 190px;
}

.categories li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.categories a:active {
  color: rgba(0, 0, 0, 0.3);
}

.service-controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-controls li {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.service-controls li:active {
  color: #f7e184;
}

.service-wrapper {
  width: 100%;
  margin-bottom: 95px;
  background-color: #e5e5e5;
}

.service {
  display: flex;
}

.service-content h2,
.index-columns h2,
.monopods {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

.service-content p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.delivery {
  position: relative;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 835px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.logotypes-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 93px;
}

.logotypes ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logotypes img {
  filter: grayscale(1);
  opacity: 0.2;
}

.logotypes img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.index-columns {
  display: flex;
  margin-bottom: 80px;
}

.index-columns p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
}

.index-columns li {
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.modal-map {
  display: flex;
  justify-content: center;
}

.modal-feedback input[type="submit"],
.filter input[type="submit"] {
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
}

button.modal-map-close {}

.modal-feedback {
  display: flex;
  justify-content: center;
}

form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.site-map {
  padding: 0 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  min-height: 20px;
  margin-bottom: 50px;
  padding: 0;

}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}


.catalog-columns {
  display: flex;

  background: linear-gradient(to bottom, #dadada 70px, #ececec 70px);


}


.sidebar h3,
.sorting h3 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sidebar legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.sidebar span {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.sidebar label {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.sidebar input[type="checkbox"]:disabled,
.sidebar input[type="radio"]:disabled {
  color: #a6a6a6;
}

.sidebar input[type="checkbox"],
.sidebar input[type="radio"] {
  display: none;
}

.sorting {
  display: flex;
  justify-content: flex-start;

  margin-right: auto;
  margin-bottom: 70px;

  background-color: #ebebeb;

}

.sorting-type {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting a {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.filter {
  display: flex;
  flex-grow: 1;

}

.filter .filter-container {
  width: 265px;
  margin-left: auto;
}

.catalog-page {
  flex-grow: 1;
  width: 780px;
  margin-right: auto;

  background-color: #ffffff;

}

.main-catalog {
  display: flex;

  flex-wrap: wrap;
  width: 855px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-left: 75px;

}

.catalog-item {
  width: 360px;
  margin-right: auto;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item:nth-child(2n + 1) {
  margin-right: 20px;
}

.catalog-item img:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

.catalog-item b {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-item .to-basket {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
}

.catalog-item .to-basket:hover {
  color: #000000;
}

.catalog-item .to-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .to-compared {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .to-compared:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .to-compared:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {

  display: flex;
  justify-content: space-between;

  width: 760px;
  margin: 0;
  margin-left: 75px;
  padding: 0;

  background-color: #ebebeb;
}

.pagination-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item-back a:hover,
.pagination-item-next a:hover {
  background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-next a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.page-footer {
  width: 100%;
  background-color: #464646;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.page-footer a,
.copyrighted {
  color: #ffffff;
}

.page-footer p {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-service a {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.footer-service a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-service a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-menu a {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin-top: 65px;

}

.footer-user-menu-categories {
  display: flex;
  justify-content: space-between;

}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-service ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-service-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
